@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared Styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 75%;
  max-width: 1920px;
  margin: 0 auto;
}

.text-gray {
  color: #727272;
  font-size: 1rem;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* Header Related Styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 0;

}

/* Nav Related Styles */
.nav {
  margin-bottom: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

nav>ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* Banner Related Styles */
.banner-content {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
}

.banner-content * {
  margin-bottom: 20px;
}

.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner-img {
  width: 100%;
  max-width: 1440px;
  margin-top: 25px;
}

/* Teams Section Related Styles */
.teams-container {
  display: flex;
  align-items: center;
  gap: 4.3rem;
  margin-top: 5rem;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content * {
  margin-bottom: 1.6rem;
}

.teams-title {
  font-size: 2.8rem;
}

.teams-title .quick-list {
  color: #727272;
  font-weight: 500;
}

.teams-title .of-our {
  color: #131313;
  font-weight: 700;
}

.teams-title .text-features {
  color: #FF900E;
  font-weight: 700;
}


/* Responsive Media Queries */
/* Mobile Devices */
@media screen and (max-width: 576px) {
  header {
    padding: 10px 0;
  }

  nav li {
    margin: 1rem;
  }

  nav,
  .teams-container {
    flex-direction: column;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }
}

/* Tablet or Medium Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav, .teams-container {
    flex-direction: column;
  }

  nav li {
    margin: 1.5rem;
  }

}